.present-details-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .present-image {
    width: auto;
    max-width: 50vw;
    max-height: 65vh;
    height: auto;
    margin-right: 12px;
    align-self: center;
    flex: 0 0 auto;
  }
  .present-details {
    display: flex;
    flex-direction: column;
    width: 50%;
    .empty-space {
      flex-grow: 1;
    }
    .row {
      width: 100%;
      display: flex;
      flex-direction: row;
      .quantity {
        width: 64px;
      }
      label {
        width: 30%;
        align-self: center;
      }
      mat-radio-group {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 850px) {
  .present-details-container {
    flex-direction: column;
    .present-image {
      height: auto;
      margin-bottom: 12px;
      align-self: center;
      flex: 0 0 auto;
      width: auto;
      max-height: 25vh;
      max-width: 50vw;
    }
    .present-details {
      display: flex;
      flex-direction: column;
      width: 100%;
      .empty-space {
        flex-grow: 1;
      }
    }
  }
}
