.shopping-basket {
  position: relative;
  .current-order {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .total, .confirmation-button {
      width: 80%;
      justify-content: flex-end;
      display: flex;
    }
  }
  .old-order {
    margin: 0 24px;
    .old-order-block {
      .old-order-title {
        display: flex;
        align-items: center;
      }
      .old-order-prices {
        display: flex;
        flex-direction: column;
        span {
          margin: 6px 0;
        }
      }
    }
  }
}
.order-info {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
}
.order-article {
  height: 128px;
  width: 80%;
  margin: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .left-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    img {
      max-height: 124px;
      margin-right: 18px;
    }
    .article-infos {
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      .article-quantity {
        display: flex;
        flex-direction: row;
        align-items: center;
        mat-form-field {
          width: 48px;
          margin: 0 12px 0 6px;
        }
      }
    }
  }
  .right-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    mat-icon {
      color: red;
    }
  }
}

@media (max-width: 850px) {
  .order-article {
    height: auto;
    width: 80%;
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }
}