<div class="shopping-basket">
  <div class="spinner-container" *ngIf="loading">
    <div class="loader full-size">Loading...</div>
  </div>
  <div class="current-order">
    <div class="order-article" *ngFor="let presentOrder of order?.presents">
      <div class="left-column">
        <img [src]="presentOrder.present.imageUrl" />
        <div class="article-infos">
          <a
            [href]="presentOrder.present.url"
            class="article-name"
            target="_blank"
            >{{ presentOrder.present.name }}</a
          >
          <span class="article-quantity"
            >Qté:
            <mat-form-field>
              <input
                id="quantity"
                type="number"
                matInput
                [(ngModel)]="presentOrder.quantity"
              />
            </mat-form-field>
            <button mat-raised-button (click)="upatePresentOrder(presentOrder)">
              Mettre à jour
            </button>
          </span>
        </div>
      </div>
      <div class="right-column">
        <span *ngIf="presentOrder.payment === 'directOrder'"
          >Livré chez nous ({{ presentOrder.totalPrice }}€)</span
        >
        <span *ngIf="presentOrder.payment === 'payment'"
          >Viré sur notre compte : {{ presentOrder.totalPrice }}€</span
        >
        <mat-icon
          matTooltip="Retirer du panier"
          (click)="deleteItem(presentOrder)"
          >remove_shopping_cart</mat-icon
        >
      </div>
    </div>
    <div class="total">
      Total chez le marchand : {{ getTotal("directOrder") }}€
    </div>
    <div class="total">Total par virement : {{ getTotal("payment") }}€</div>
    <div class="confirmation-button">
      <button mat-raised-button (click)="confirmOrder()">Confirmer</button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="order-info">
    <span>Merci pour vos cadeaux.</span>
    <span
      >Si vous avez choisis de nous verser l'argent pour qu'on puisse prendre le
      cadeau nous-même, vous pouvez faire un virement sur le compte : BE96 0017
      8093 9905.</span
    >
    <span
      >Si vous avez choisis de passer par le site revendeur pour certains
      cadeaux, vous pouvez les faire livrer à l'adresse suivante :</span
    >
    <span>rue des coquelicots, 11</span>
    <span>4577, Modave</span>
  </div>
  <mat-divider></mat-divider>
  <div class="old-order">
    <mat-accordion class="old-order" multi>
      <mat-expansion-panel
        class="old-order-block"
        *ngFor="let oldOrder of oldOrders"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="old-order-title">{{ oldOrder?.date }}</span>
          </mat-panel-title>
          <mat-panel-description>
            <div class="old-order-prices">
              <span *ngIf="oldOrder?.totalPrice"
                >Total chez le marchand : {{ oldOrder?.totalPrice }}€</span
              >
              <span *ngIf="oldOrder?.totalPriceToPay"
                >Total par virement : {{ oldOrder?.totalPriceToPay }}€</span
              >
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div
          class="order-article"
          *ngFor="let presentOrder of oldOrder?.presents"
        >
          <div class="left-column">
            <img [src]="presentOrder.present.imageUrl" />
            <div class="article-infos">
              <a
                [href]="presentOrder.present.url"
                class="article-name"
                target="_blank"
                >{{ presentOrder.present.name }}</a
              >
              <span class="article-quantity"
                >Qté:&nbsp;{{ presentOrder.quantity }}
              </span>
            </div>
          </div>
          <div class="right-column">
            <span *ngIf="presentOrder.payment === 'directOrder'"
              >Livré chez nous ({{ presentOrder.totalPrice }}€)</span
            >
            <span *ngIf="presentOrder.payment === 'payment'"
              >Viré sur notre compte : {{ presentOrder.totalPrice }}€</span
            >
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
