.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 64px;
    button {
        height: 64px;
        min-width: 64px;
        font-size: 1em;
        mat-icon {
            color: #ff4081;
        }
    }
}