<div class="home-page">
  <div class="introduction">
    <span>En attendant la pitchounette, nous préparons petit à petit son arrivée.</span>
    <span>Parce que vous nous demandez souvent ce qui nous ferait plaisir ou ce dont nous aurions besoin...</span>
    <span>Avec cette liste de naissance, vous êtes sûrs de tomber juste !</span>
    <span>Tous nos essentiels et coups de coeur pour les mois à venir y sont rassemblés.</span>
    <span>Dans la liste, vous aurez le choix entre faire livrer les cadeaux directement chez nous, ou verser l'argent sur notre compte pour qu'on puisse le prendre nous-même (certains gros cadeaux n'ont qu'une seule option).</span>
    <span>Certains gros cadeaux ont été divisés en plusieurs plus petits (e.g. la poussette à 260€ est divisée en 10 parts de 26€) afin qu'ils restent plus abordables pour tout le monde.</span>
    <span>Merci pour toutes ces attentions.</span>
    <img src="../../../assets/home-photo.jpg" />
    <span>Sylvie et Denis</span>
  </div>
  <mat-button-toggle-group name="authentication" *ngIf="!isLoggedIn()">
    <mat-button-toggle value="login" (click)="openLogin(login)"
      >S'authentifier</mat-button-toggle
    >
    <mat-button-toggle value="register" (click)="openRegister(register)"
      >S'enregistrer</mat-button-toggle
    >
  </mat-button-toggle-group>
  <button mat-raised-button *ngIf="isLoggedIn()" (click)="getOrders()">
    Continuer vers la liste de cadeaux.
  </button>
</div>

<ng-template #register let-register="onRegister">
  <form>
    <h2 mat-dialog-title>Enregistrement</h2>
    <div mat-dialog-content class="form">
      <div class="spinner-container" *ngIf="loading">
        <div class="loader full-size">Loading...</div>
      </div>
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput [(ngModel)]="userId" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" [(ngModel)]="password" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirmation</mat-label>
        <input
          matInput
          type="password"
          class="continue-button"
          [(ngModel)]="passwordConfirmation"
        />
      </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
      <button
        mat-raised-button
        [disabled]="loading || !userId || !password || !passwordConfirmation"
        (click)="onRegister()"
      >
        Continuer
      </button>
    </div>
  </form>
</ng-template>

<ng-template #login let-login="onLogin">
  <form>
    <h2 mat-dialog-title>Authentification</h2>
    <div mat-dialog-content class="form">
      <div class="spinner-container" *ngIf="loading">
        <div class="loader full-size">Loading...</div>
      </div>
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput [(ngModel)]="userId" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" [(ngModel)]="password" />
      </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
      <button
        mat-raised-button
        class="continue-button"
        [disabled]="loading || !userId || !password"
        (click)="onLogin()"
      >
        Continuer
      </button>
    </div>
  </form>
</ng-template>
