.present-list {
  position: relative;
  width: 100%;
  .present-container-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 24px;
    .present-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 24px 12px;
      padding: 12px;
      height: 450px;
      width: 350px;
      border-radius: 8px;
      filter: drop-shadow(rgba(98, 98, 98, 0.15) 0.5px 1px 1px)
        drop-shadow(rgba(98, 98, 98, 0.15) 1px 2px 2px)
        drop-shadow(rgba(98, 98, 98, 0.15) 2px 4px 4px)
        drop-shadow(rgba(98, 98, 98, 0.15) 4px 8px 8px)
        drop-shadow(rgba(98, 98, 98, 0.15) 8px 16px 16px);
      transition: all 0.25s ease-out;
      background-color: #f8f8f8;
      cursor: pointer;
      &.create-container {
        align-items: center;
        justify-content: center;
      }
      &:hover {
        transform: scale(1.05);
      }
      &[disabled] {
        opacity: 0.5;
      }
      .present-block {
        display: flex;
        flex-direction: column;
        .present-name {
          align-self: center;
        }
        .present-image {
          align-self: center;
          max-height: 280px;
          max-width: 90%;
          padding: 8px 12px;
        }
      }
    }
  }
}
