<div class="present-list">
  <div class="spinner-container" *ngIf="listLoading">
    <div class="loader full-size">Loading...</div>
  </div>
  <div class="present-list-sort">
    <mat-form-field>
      <mat-label>Trier par...</mat-label>
      <mat-select [(ngModel)]="sortField" (selectionChange)="computeList()">
        <mat-option [value]="'priceAsc'">Prix (croissant)</mat-option>
        <mat-option [value]="'priceDesc'">Prix (décroissant)</mat-option>
        <mat-option [value]="'nameAsc'">Nom (croissant)</mat-option>
        <mat-option [value]="'nameDesc'">Nom (décroissant)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="present-container-list">
    <div
      class="present-container"
      *ngFor="let present of presentList"
      (click)="openDetails(present)"
      [attr.disabled]="present.ordered >= present.quantity || null"
    >
      <div class="present-block">
        <button
          mat-button
          *ngIf="ouni | async"
          (click)="$event.stopPropagation(); openPresentDialog(present)"
        >
          Edit present
        </button>
        <button
          mat-button
          *ngIf="ouni | async"
          (click)="$event.stopPropagation(); deletePresent(present)"
        >
          Delete present
        </button>
        <span class="present-name">{{ present.name }}</span>
      </div>
      <div class="present-image-block">
        <img class="present-image" [src]="present.imageUrl" />
      </div>
      <div class="present-block">
        <!-- <a
          class="present-link"
          [href]="present.url"
          target="_blank"
          (click)="$event.stopPropagation()"
        >
          {{ present.shop }}
        </a> -->
        <span class="present-price">{{ present.price }}€</span>
      </div>
    </div>
    <div
      class="present-container create-container"
      *ngIf="ouni | async"
      (click)="openPresentDialog()"
    >
      Create new present
    </div>
  </div>
</div>
<ng-template #presentFormDialog>
  <app-present-form
    [present]="editedPresent"
    [loading]="actionLoading"
    (savePresent)="savePresent($event)"
  >
  </app-present-form>
</ng-template>

<ng-template #presentDetailsDialog>
  <app-present-details
    [present]="selectedPresent"
    [loading]="actionLoading"
    (saveOrder)="savePresentOrder($event)"
  >
  </app-present-details>
</ng-template>
